{% extends 'base.html' %}
{% block metablock %}
<title>BC | Home</title>
{% endblock metablock %}
{% block bodyblock %}
    <div class="jumbotron">
        <h1 class="display-3">Border Capital Inc.</h1>
        {% if user.is_authenticated %}
        <p class="lead">Welcome @{{user.username}}</p>
        {% else %}
        <p class="lead">No more borders.</p>
        {% endif %}
        <hr class="my-2">
        {% if user.is_authenticated %}
        <p>Your journey towards success</p>

        {% else %}
        <p>Your journey towards success</p>

<p class="lead">
            <a class="btn btn-primary btn-lg myblue" href="" role="button">Start</a>
        </p>
        {% endif %}
        
        <div style="height:50vh"></div>
    </div>
{% endblock bodyblock %}