{% extends 'base.html' %}
{% block metablock %}
{% load static %}
<title>BC | Home</title>
{% endblock metablock %}
{% block bodyblock %}
        
        <div class='jumbotron'style="background:url('{% static 'images/under_dev/fall.gif'%}'); height:90vh">
        <h1>Under development</h1>
        <h3>Coming soon...</h3>
        </div>

               <div class='footer'>
            <p style='text-align:center'>©2021 All rights reserved</p>
            <p style='text-align:center'>No responsibility</p>
        </div>
{% endblock bodyblock %}