{% extends 'base.html' %}
{% block metablock %}
<title>BC | 404</title>
{% endblock metablock %}
{% block bodyblock %}
    <div class="jumbotron">
        <h1 class="display-3">404 Error</h1>
        <p class="lead">SORRY</p>
        <hr class="my-2">
        <p>Invalid path, not enough permissions or logged out.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg myblue" href="{% url 'index' %}" role="button">Home</a>
        </p>
        <div style="height:50vh"></div>
    </div>
{% endblock bodyblock %}